
*{
    box-sizing: border-box;
}

.container {
    background-color: #333;
    width: 1000px;
    height: 30vh;

    display: flex;
    flex-flow: row nowrap;
}

.item {
    background-color: royalblue;
    border: 2px solid black;
    width: 100px;
    flex-grow: 1;
    /* Cuando  la caja flexbox tenga espacio sobrante, es la habilidad o el factor de crecer, el valor por
    defecto es cero No se acetan valores negativos*/
    /* width: 20%; */
    /* height: 20%; */

}

.item:nth-child(2) {
    flex-grow: 2;
}