
* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    border: thin solid red;
    flex: 0 0 100%;

}

@media (min-width: 576px) { 
    .flex-item {
        flex: 0 0 50%;
    }
 }

@media (min-width: 768px) { 
    .flex-item {
        flex: 0 0 33.33333333333333%;
    }
 }

@media (min-width: 992px) { 
    .flex-item{
        flex: 0 0 25%;
    }
 }

@media (min-width: 1200px) { 
    .flex-item {
        flex: 0 0 16.66666666666667%;
    }
 }
